* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
}

.main-title {
    text-align: center;
    font-size: 36px;
    margin: 40px 0 30px 0;
    font-weight: bold;
}

.mobile-title {
    display: none;
    text-align: left;
    font-size: 24px;
    font-family: Georgia, serif;
    margin: 40px 0 20px 0;
    padding-left: 20px;
}

.container {
    width: 100%;
    padding: 0 15px;
}

.section {
    position: relative;
    background-color: #999999;
    border: 1px solid black;
    margin: 15px;
    float: left;
    height: 200px;
    overflow: hidden;
}

.section:hover {
    overflow-y: auto;
    cursor: ns-resize;
}

.section::-webkit-scrollbar {
    width: 8px;
}

.section::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.section::-webkit-scrollbar-thumb {
    background: #888;
}

.section-title {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    padding: 8px 30px;
    font-size: 20px;
    font-weight: bold;
}

.section-title-mobile {
    display: none;
}

.chicken-title {
    background-color: #d59898;
}

.beef-title {
    background-color: #c14543;
    color: white;
}

.sushi-title {
    background-color: #e5d198;
}

.section-content {
    padding: 50px 15px 15px 15px;
    line-height: 1.5;
}

/* Desktop view - 992px and above */
@media (min-width: 992px) {
    .section {
        width: calc(33.33% - 30px);
    }
}

/* Tablet view - 768px to 991px */
@media (min-width: 768px) and (max-width: 991px) {
    .section {
        width: calc(50% - 30px);
    }

    .section:nth-child(3) {
        width: calc(100% - 30px);
    }
}

/* Mobile view - 767px and below */
@media (max-width: 767px) {
    .main-title {
        display: none;
    }

    .mobile-title {
        display: block;
    }

    .container {
        padding: 0 10px;
    }

    .section {
        width: calc(100% - 20px);
        margin: 15px 10px;
        float: none;
    }

    .section-title {
        display: none;
    }

    .section-title-mobile {
        display: block;
        background-color: #d59898;
        border: 1px solid black;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        width: 100%;
    }

    .section:nth-child(2) .section-title-mobile {
        background-color: #c14543;
        color: white;
    }

    .section:nth-child(3) .section-title-mobile {
        background-color: #e5d198;
    }

    .section-content {
        padding: 15px;
    }
}

.container::after {
    content: "";
    display: table;
    clear: both;
}